absl-py==2.1.0
accelerate==0.31.0
aiobotocore @ file:///croot/aiobotocore_1701291493089/work
aiofiles==24.1.0
aiohttp @ file:///croot/aiohttp_1707342283163/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiolimiter==1.1.0
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
albumentations==1.4.4
ale-py==0.8.1
altair @ file:///croot/altair_1687526041770/work
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1697038922993/work
anaconda-catalogs @ file:///croot/anaconda-catalogs_1685727283692/work
anaconda-client @ file:///croot/anaconda-client_1708640631824/work
anaconda-cloud-auth @ file:///croot/anaconda-cloud-auth_1697462711326/work
anaconda-navigator @ file:///croot/anaconda-navigator_1704813276856/work
anaconda-project @ file:///work/ci_py311/anaconda-project_1676846728333/work
anndata==0.11.1
annotated-types==0.6.0
anthropic==0.29.2
antlr4-python3-runtime==4.9.3
anyio @ file:///croot/anyio_1706220167567/work
anytree==2.12.1
appdirs==1.4.4
APScheduler==3.10.4
archspec @ file:///croot/archspec_1697725767277/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/ci_py311/argon2-cffi-bindings_1676823553406/work
array_api_compat==1.9.1
arrow @ file:///work/ci_py311/arrow_1677696236099/work
asgiref==3.8.1
astroid @ file:///work/ci_py311/astroid_1676920975848/work
astropy @ file:///croot/astropy_1697468907928/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///croot/async-lru_1699554519285/work
atomicwrites==1.4.0
attrs==24.2.0
autograd==1.7.0
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
azure-common==1.1.28
azure-core==1.31.0
azure-identity==1.18.0
azure-search-documents==11.5.1
azure-storage-blob==12.23.0
Babel @ file:///work/ci_py311/babel_1676825020543/work
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt==4.2.0
beartype==0.18.5
beautifulsoup4==4.12.3
bertopic==0.16.2
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitblas==0.0.1.dev12
black @ file:///croot/black_1701096792414/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
bleak==0.21.1
blessings==1.7
blinker @ file:///croot/blinker_1696539051175/work
blis==0.7.11
bokeh @ file:///croot/bokeh_1706912149278/work
boltons @ file:///work/ci_py311/boltons_1677685195580/work
boto3==1.35.32
botocore==1.35.32
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
bs4==0.0.2
build==1.2.2
CacheControl==0.14.1
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue==2.0.10
certifi==2024.7.4
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.11
chromadbx==0.0.6
clean-fid==0.1.35
cleo==2.1.0
click @ file:///croot/click_1698129812380/work
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.18.1
cloudpickle @ file:///croot/cloudpickle_1683040006038/work
clyent==1.2.2
colorama @ file:///work/ci_py311/colorama_1676827038675/work
colorcet @ file:///work/ci_py311/colorcet_1676839173519/work
coloredlogs==15.0.1
colorspacious==1.1.2
comm @ file:///work/ci_py311/comm_1677709131612/work
conda @ file:///croot/conda_1708369113911/work
conda-build @ file:///croot/conda-build_1708025865815/work
conda-content-trust @ file:///croot/conda-content-trust_1693490622020/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda-repo-cli==1.0.75
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///croot/conda-index_1706633791028/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
confection==0.1.5
constantly @ file:///croot/constantly_1703165600746/work
contourpy @ file:///croot/contourpy_1700583582875/work
cookiecutter @ file:///croot/cookiecutter_1700676941334/work
cpplint==1.6.1
crashtest==0.4.1
cryptography==42.0.8
cssselect @ file:///croot/cssselect_1707339882883/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.8
Cython==0.29.37
cytoolz @ file:///croot/cytoolz_1701723583781/work
dask @ file:///croot/dask-core_1701396095060/work
dataclasses-json==0.6.7
datamapplot==0.4.2
datasets==2.20.0
datashader @ file:///croot/datashader_1699542882288/work
datashaper==0.0.49
dbus-fast==2.21.1
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepdiff==8.0.1
deepspeed==0.14.4
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.14
deprecation==2.1.0
descartes==1.1.0
devtools==0.12.2
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distributed @ file:///croot/distributed_1701398021707/work
distro @ file:///croot/distro_1701455004953/work
dnspython==2.6.1
docopt==0.6.2
docstring-to-markdown @ file:///work/ci_py311/docstring-to-markdown_1676851973684/work
docutils @ file:///work/ci_py311/docutils_1676822773036/work
dtlib==0.0.0.dev2
dulwich==0.21.7
durationpy==0.7
dynaconf==3.2.6
effdet==0.4.1
efficientnet-pytorch==0.7.1
einops==0.8.0
email_validator==2.2.0
EMMO==2.0.0
EMMOntoPy==0.7.1
emoji==2.14.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints @ file:///work/ci_py311/entrypoints_1676823319002/work
environs==11.0.0
et-xmlfile==1.1.0
etils==1.9.2
execnet==2.1.1
executing==2.1.0
Farama-Notifications==0.0.4
fastapi==0.111.1
fastapi-cli==0.0.5
fastapi-sso==0.10.0
fastembed==0.4.1
fastjsonschema==2.20.0
filelock==3.15.4
filetype==1.2.0
fiona==1.10.1
flake8 @ file:///work/ci_py311/flake8_1677709235205/work
Flask @ file:///croot/flask_1702980023242/work
flatbuffers==24.3.25
-e git+https://github.com/majidsh97/flow.git@ce8109f2712c088af1ce4b7e9a6ffed96b3234a0#egg=flow
fonttools==4.25.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist @ file:///croot/frozenlist_1698702560391/work
fsspec==2024.5.0
future==1.0.0
gensim==4.3.3
geopandas==0.3.0
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///croot/gitpython_1696936983078/work
glfw==2.7.0
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
google-ai-generativelanguage==0.6.9
google-api-core==2.19.2
google-api-python-client==2.144.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-vision==3.7.4
google-generativeai==0.8.0
googleapis-common-protos==1.65.0
googletrans==3.0.0
graphrag @ git+https://github.com/microsoft/graphrag.git@ce5b1207e09ef3a182222fe35d806ce3c9854437
graphviz==0.20.3
graspologic==3.4.1
graspologic-native==1.2.1
greenlet @ file:///croot/greenlet_1702059959679/work
grpcio==1.66.1
grpcio-status==1.62.3
gunicorn==22.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h2==3.2.0
h5py @ file:///croot/h5py_1691589708553/work
hdbscan==0.8.37
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
hjson==3.1.0
holoviews @ file:///croot/holoviews_1707836454244/work
hpack==3.0.0
hqq==0.1.8
hstspreload==2024.11.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.23.4
humanfriendly==10.0
hvplot @ file:///croot/hvplot_1706712387811/work
hyperframe==5.2.0
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
hyppo==0.4.0
idna==2.10
imagecodecs @ file:///croot/imagecodecs_1695064943445/work
imageio @ file:///croot/imageio_1707247282708/work
imageio-ffmpeg==0.5.1
imagesize @ file:///work/ci_py311/imagesize_1676830829500/work
imbalanced-learn @ file:///croot/imbalanced-learn_1700648238098/work
import-ipynb==0.2
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
importlib_resources==6.4.0
incremental @ file:///croot/incremental_1708639938299/work
inflection==0.5.1
iniconfig==2.0.0
-e git+https://github.com/majidsh97/instagram.git@199f3176bca33327d2581f76e3a0ea704a046925#egg=instagram
installer==0.7.0
intake @ file:///work/ci_py311_2/intake_1679336472739/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
iopath==0.1.10
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython==8.12.3
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1701289330913/work
isodate==0.6.1
isoduration==20.11.0
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///croot/itemloaders_1708639918324/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///work/ci_py311_2/jedi_1679336495545/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish @ file:///croot/jellyfish_1695193535278/work
Jinja2==3.1.4
jiter==0.5.0
jmespath @ file:///croot/jmespath_1700144569655/work
joblib==1.4.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
json_repair==0.30.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter @ file:///croot/jupyter_1707947101020/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1699282461638/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter_client @ file:///croot/jupyter_client_1699455897726/work
jupyter_core @ file:///croot/jupyter_core_1698937308754/work
jupyter_server @ file:///croot/jupyter_server_1699466442171/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870725608/work
jupyterlab @ file:///croot/jupyterlab_1706802623017/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1700168618520/work
jupyterlab_server @ file:///croot/jupyterlab_server_1699555425460/work
kagglehub==0.3.3
keyring==24.3.1
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
kubernetes==31.0.0
lancedb==0.13.0
langchain==0.2.7
langchain-chroma==0.1.4
langchain-community==0.2.7
langchain-core==0.2.41
langchain-openai==0.1.25
langchain-text-splitters==0.2.2
langcodes==3.4.0
langdetect==1.0.9
langsmith==0.1.129
language_data==1.2.0
layoutparser==0.3.4
lazy-object-proxy @ file:///work/ci_py311/lazy-object-proxy_1676827255418/work
lazy_loader @ file:///croot/lazy_loader_1695850097191/work
lckr_jupyterlab_variableinspector @ file:///croot/jupyterlab-variableinspector_1701096569343/work
legacy-api-wrap==1.4.1
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libmambapy @ file:///croot/mamba-split_1704219408234/work/libmambapy
lightning==2.2.2
lightning-bolts==0.7.0
lightning-utilities==0.11.2
linkify-it-py @ file:///work/ci_py311/linkify-it-py_1676837069144/work
litellm==1.52.16
llama-cloud==0.1.0
llama-index==0.11.14
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.14
llama-index-embeddings-langchain==0.2.1
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.2.9
llama-index-multi-modal-llms-openai==0.2.1
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-index-vector-stores-chroma==0.2.0
llama-parse==0.5.6
llama_cpp_python==0.2.82
llvmlite @ file:///croot/llvmlite_1706910704562/work
lmdb @ file:///croot/python-lmdb_1682522346377/work
locket @ file:///work/ci_py311/locket_1676827274546/work
loguru==0.7.2
lxml @ file:///croot/lxml_1695058164555/work
lz4 @ file:///croot/lz4_1686057876374/work
-e git+https://github.com/majidsh97/MADE.git@52973f07a8c05f64c747e8ca301c0b0b79df4eb9#egg=made
marisa-trie==1.2.0
Markdown @ file:///work/ci_py311/markdown_1676837083112/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.2
matplotlib-inline @ file:///work/ci_py311/matplotlib-inline_1676823841154/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///work/ci_py311/mdit-py-plugins_1676837111662/work
mdurl @ file:///work/ci_py311/mdurl_1676827289376/work
menuinst @ file:///croot/menuinst_1706732933928/work
mistune @ file:///work/ci_py311/mistune_1676823683049/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml-dtypes==0.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools @ file:///croot/more-itertools_1700662129964/work
MouseInfo==0.1.3
moviepy==2.1.1
mpmath @ file:///croot/mpmath_1690848262763/work
msal==1.31.0
msal-extensions==1.2.0
msgpack @ file:///work/ci_py311/msgpack-python_1676823037805/work
mujoco==3.2.0
multidict @ file:///croot/multidict_1701096859099/work
multipledispatch @ file:///work/ci_py311/multipledispatch_1676841220684/work
multiprocess==0.70.16
munch==4.0.0
munkres==1.1.4
murmurhash==1.0.10
mypy @ file:///croot/mypy-split_1708366513367/work
mypy-extensions @ file:///croot/mypy_extensions_1695130926492/work
natsort==8.4.0
navigator-updater @ file:///croot/navigator-updater_1695210188412/work
nbclient @ file:///croot/nbclient_1698934205032/work
nbconvert==7.16.4
nbformat @ file:///croot/nbformat_1694616755618/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///croot/networkx_1690561992265/work
ninja==1.11.1.1
nltk==3.9.1
normflows==1.7.3
notebook @ file:///croot/notebook_1708029864779/work
notebook_shim @ file:///croot/notebook-shim_1699455894279/work
numba @ file:///croot/numba_1707085079500/work
numexpr @ file:///croot/numexpr_1696515281613/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
numpydoc @ file:///work/ci_py311/numpydoc_1676845056742/work
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.555.43
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.47
omegaconf==2.3.0
onnx==1.16.0
onnxruntime==1.17.3
openai==1.55.2
openai-whisper==20240930
opencv-contrib-python==4.9.0.80
opencv-python==4.10.0.84
opencv-python-headless==4.9.0.80
openpyxl==3.0.10
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orderly-set==5.2.2
orjson==3.10.6
outcome==1.3.0.post0
overrides @ file:///croot/overrides_1699371140756/work
Owlready2==0.43
packaging==24.2
pandas==2.0.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///croot/panel_1706539561184/work
param @ file:///croot/param_1705937765746/work
parsel @ file:///croot/parsel_1707503445438/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///croot/partd_1698702562572/work
pastel==0.2.1
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///work/ci_py311_2/pathspec_1679337288229/work
patsy==0.5.6
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
peft==0.11.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pi_heif==0.18.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pigar==2.1.6
pikepdf==9.3.0
pillow==10.4.0
pipreqs==0.5.0
pkce @ file:///croot/pkce_1690384816590/work
pkginfo==1.11.2
platformdirs @ file:///croot/platformdirs_1692205439124/work
plotly==5.24.1
plotly-geo==1.0.0
pluggy==1.5.0
ply==3.11
poethepoet==0.10.0
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
portalocker==2.10.1
posthog==3.6.6
POT==0.9.4
preshed==3.0.9
pretrainedmodels==0.7.4
proglog==0.1.10
prometheus-client @ file:///work/ci_py311_2/prometheus_client_1679340520168/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
proto-plus==1.24.0
protobuf==4.25.5
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py==1.11.0
py-cpuinfo @ file:///croot/py-cpuinfo_1698068081650/work
py_rust_stemmers==0.1.3
pyaml-env==1.2.1
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pybelt==1.2.2
pycocotools==2.0.8
pycodestyle @ file:///work/ci_py311/pycodestyle_1677708783451/work
pycosat @ file:///croot/pycosat_1696536503704/work
pycparser==2.22
pyct @ file:///work/ci_py311/pyct_1676838544646/work
pycurl @ file:///croot/pycurl_1686662440405/work
pydantic==2.9.2
pydantic_core==2.23.4
pydeck @ file:///croot/pydeck_1706194064552/work
PyDispatcher==2.0.5
pydocstyle @ file:///work/ci_py311/pydocstyle_1677708708066/work
pyerfa @ file:///work/ci_py311/pyerfa_1676838574038/work
pyflakes @ file:///work/ci_py311/pyflakes_1677708650266/work
pygame==2.6.0
PyGetWindow==0.0.9
Pygments @ file:///croot/pygments_1684279966437/work
pygraphviz==1.14
PyJWT==2.9.0
pylabeladjust==0.1.13
pylance==0.17.0
pylint @ file:///work/ci_py311/pylint_1676920998643/work
pylint-venv @ file:///work/ci_py311/pylint-venv_1677706395472/work
pyls-spyder==0.4.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynndescent==0.5.13
pyodbc @ file:///croot/pyodbc_1705431351638/work
pyogrio==0.10.0
PyOpenGL==3.1.7
pyOpenSSL @ file:///croot/pyopenssl_1708380408460/work
pypandoc==1.13
pyparsing @ file:///work/ci_py311/pyparsing_1677811559502/work
pypdf==4.3.1
pypdfium2==4.30.0
pyperclip==1.9.0
PyPika==0.48.9
pyproj==3.7.0
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
Pyqtree==1.0.0
PyQtWebEngine==5.15.6
pyre-extensions==0.0.32
PyRect==0.2.0
pysbd==0.3.4
PyScreeze==1.0.1
pyserial==3.5
pyshp==1.2.10
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pysrt==1.1.2
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-xdist==3.6.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
python-lsp-black @ file:///work/ci_py311/python-lsp-black_1676845562358/work
python-lsp-jsonrpc==1.0.0
python-lsp-server @ file:///croot/python-lsp-server_1681930392028/work
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
python-pptx==1.0.2
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-snappy @ file:///work/ci_py311/python-snappy_1676842365339/work
python3-xlib==0.15
pytoolconfig @ file:///croot/pytoolconfig_1701728692402/work
pytorch-lightning==1.9.5
pytweening==1.2.0
pytz @ file:///croot/pytz_1695131579487/work
PyVirtualDisplay==3.0
pyviz_comms @ file:///croot/pyviz_comms_1701728014828/work
pywavelets @ file:///croot/pywavelets_1705049820073/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML==6.0.2
pyzmq @ file:///croot/pyzmq_1705605076900/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///work/ci_py311/qstylizer_1677706154568/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///work/ci_py311/qtawesome_1677705159328/work
qtconsole @ file:///croot/qtconsole_1681394213385/work
QtPy @ file:///croot/qtpy_1700144840038/work
queuelib @ file:///croot/queuelib_1696950067631/work
ragas==0.1.20
ragchecker==0.1.9
rank-bm25==0.2.2
rapidfuzz==3.9.4
rcssmin==1.1.3
rdflib==7.0.0
redis==5.0.8
refchecker==0.2.13
referencing @ file:///croot/referencing_1699012038513/work
regex==2024.5.15
requests==2.32.3
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-oauthlib==2.0.0
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
retry==0.9.2
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986==1.5.0
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich==13.8.1
rjsmin==1.2.3
rope @ file:///work/ci_py311/rope_1677708536193/work
rpds-py @ file:///croot/rpds-py_1698945930462/work
rq==1.16.2
rsa==4.9
Rtree @ file:///work/ci_py311/rtree_1676845693189/work
ruamel-yaml-conda @ file:///work/ci_py311/ruamel_yaml_1676845707897/work
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
s3fs @ file:///croot/s3fs_1701294169021/work
s3transfer==0.10.2
safetensors==0.4.3
scanpy==1.10.4
scikit-image @ file:///croot/scikit-image_1707346116243/work
scikit-learn==1.5.2
scipy==1.12.0
scprep==1.2.3
Scrapy @ file:///work/ci_py311/scrapy_1677770267574/work
seaborn==0.13.2
SecretStorage @ file:///work/ci_py311_2/secretstorage_1679339060489/work
segmentation-models-pytorch==0.3.3
selenium==4.26.1
semver @ file:///tmp/build/80754af9/semver_1603822362442/work
Send2Trash @ file:///croot/send2trash_1699371139552/work
sentence-transformers==3.0.1
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
session-info==1.0.0
Shapely==1.6.3
shellingham==1.5.4
Shimmy==0.2.1
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///work/ci_py311/smart_open_1676842848397/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///croot/sniffio_1705431295498/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacyfishing==0.1.8
Sphinx @ file:///work/ci_py311/sphinx_1676842864059/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
spyder @ file:///croot/spyder_1681934064788/work
spyder-kernels @ file:///croot/spyder-kernels_1691599531749/work
SQLAlchemy @ file:///croot/sqlalchemy_1705089115293/work
srsly==2.4.8
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.37.2
statsmodels==0.14.3
stdlib-list==0.11.0
streamlit @ file:///croot/streamlit_1706200479775/work
striprtf==0.0.26
sympy @ file:///croot/sympy_1701397643339/work
tables @ file:///croot/pytables_1705614842881/work
tabulate @ file:///croot/tabulate_1701354810597/work
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensordict==0.3.2
termcolor==2.4.0
terminado @ file:///work/ci_py311/terminado_1677696151350/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
thefuzz==0.22.1
thinc==8.2.5
threadpoolctl==3.5.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///croot/tifffile_1695107451082/work
tiktoken==0.7.0
timm==0.9.2
tinycss2 @ file:///work/ci_py311/tinycss2_1676823757641/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
tokenizers==0.19.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomlkit==0.13.2
toolz @ file:///work/ci_py311/toolz_1676827522705/work
top2vec==1.0.34
torch==2.2.2
torch-tb-profiler==0.4.3
torchcde==0.2.5
torchcfm @ git+https://github.com/atong01/conditional-flow-matching.git@b0e062b34172a38c9bb94d3302bcb5f18918414d
torchdiffeq==0.2.5
torchdyn==1.0.6
torcheval==0.0.7
torchinfo==1.8.0
torchmetrics==1.3.2
torchrl==0.4.0
torchsde==0.2.6
torchsnapshot==0.1.0
torchsnapshot-nightly==2024.7.26
torchtnt==0.2.4
torchvision==0.17.2
tornado @ file:///croot/tornado_1696936946304/work
tqdm==4.66.4
tqdn==0.2.1
traitlets @ file:///work/ci_py311/traitlets_1676823305040/work
trampoline==0.1.2
transformers==4.42.4
trio==0.27.0
trio-websocket==0.11.1
triton==2.2.0
trove-classifiers==2024.10.21.16
truststore @ file:///croot/truststore_1695244293384/work
Twisted @ file:///croot/twisted_1708702809815/work
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal @ file:///work/ci_py311/tzlocal_1676842973332/work
uc-micro-py @ file:///work/ci_py311/uc-micro-py_1676828889155/work
ujson @ file:///work/ci_py311/ujson_1676828903327/work
umap-learn==0.5.6
undetected-chromedriver==3.5.5
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
unstructured==0.15.13
unstructured-client==0.25.9
unstructured-inference==0.7.36
unstructured.pytesseract==0.3.13
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.22.0
uvloop==0.20.0
validators @ file:///tmp/build/80754af9/validators_1612286467315/work
var-dump==1.2
virtualenv==20.27.1
w3lib @ file:///croot/w3lib_1708639924738/work
wasabi==1.1.3
watchdog @ file:///work/ci_py311/watchdog_1676846191736/work
watchfiles==0.24.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug @ file:///croot/werkzeug_1679489717957/work
whatthepatch @ file:///work/ci_py311/whatthepatch_1677708379946/work
widgetsnbextension @ file:///croot/widgetsnbextension_1701273613663/work
wordcloud==1.9.3
wrapt @ file:///work/ci_py311/wrapt_1676827586170/work
wsproto==1.2.0
wurlitzer @ file:///work/ci_py311/wurlitzer_1676843053614/work
xarray @ file:///croot/xarray_1689041471350/work
xlrd==2.0.1
XlsxWriter==3.2.0
xxhash==3.4.1
xyzservices @ file:///work/ci_py311/xyzservices_1676828923127/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarg==0.1.9
yarl @ file:///croot/yarl_1701105127787/work
zict @ file:///croot/zict_1695832839030/work
zipp @ file:///croot/zipp_1704206909481/work
zope.interface @ file:///work/ci_py311/zope.interface_1676905896080/work
zstandard @ file:///work/ci_py311_2/zstandard_1679339489613/work
